* {
  margin: 0;
  /* padding: 0; */
  box-sizing: border-box;
}
@media only screen and (min-width: 480px) and (max-width: 768px){
  .App {
    width: 100%;
  }
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;

}
.App {
  padding: 25px;
  text-align: center;
  background-color: white;
}
/* Images */
.flowerbook {
  height: 75px;
  padding: 5px;
}
.cup {
  height: 50px;
  padding: 5px;
}
.bookshelf {
  height: 60px;
}
.owl {
  height: 100px;
}
.tea {
  height: 100px;
  width: auto;
  border-radius: 50%;
}
.colorbooks {
  width: 45%;
  padding: 35px;
}
/* End of Images */

.header {
  font-family: "Cormorant SC", serif;
}
.header1 {
  font-family: "Cormorant SC", serif;
  text-decoration: underline;
}

.littleheader {
  font-family: serif;
  font-style: italic;
}
.secondaryheader {
  background-color: white;
  height: 65px;
  font-family: "Cormorant SC", serif;
  text-align: left;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.welcomehead {
  height: 100px;
  background-color: #6CC4A1;
  font-family: "Cormorant SC", serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  width: 100%;
  border-bottom: 5px solid black;
  border-radius: 20px;
}

/* Display page */
.displaytable {
  justify-content: center;
  max-width: 800px;
  width: 100%;
  padding: 20px;
  text-align: left;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: black;
  background-color: #4CACBC;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;
}
tr, th, td {
  padding: 5px;
}
th {
  border-bottom: 1px solid black;
}
/* Delete button */
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.bounce_button {
  top: 50%;
  left: 50%;
  height: 20px;
  width: 100px;
  background-color: #BD2A2A;
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 0px 5px 10px black;
  line-height: 2px;
  text-align: center;
  text-transform: uppercase;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  color: black;
}
.bounce_button:hover {
  cursor: pointer;
  animation-name: bounce;
  animation-timing-function: ease-in-out;
}

.btn {
  height: 35px;
  width: 90px;
  font-size: 16px;
  background-color: #A0D995;
  padding: 5px 15px 5px 15px;
  box-shadow: 0px 5px 10px black;
  border: 1px solid black;
  cursor: pointer;
  color: black;
  border-radius: 10px;
  margin: 3px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.btn:hover {
  background-color: #FFEBA1;
}

.btn:active {
  background-color: #FFEBA1;
  box-shadow: 0px 5px 10px black;
  transform: translateY(4px);
}

.form {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 100%;
  box-sizing: border-box;
}
.input
 {
  border: 3px solid black;
  padding: 20px;
}

.textareadesc,
textarea {
  width: 50%;
  height: 25%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* Register */
.reg-row, .loginform {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  padding: 20px;
  background-color: #4CACBC;
  border-radius: 5px;
  margin-right: 75px;
  margin-left: 75px;
}

/* Decription */
.row {
  display: flex;
  font-family: Calibri;
  font-size: 20px;
  text-align: left;
  padding-bottom: 50px;
  padding: 20px;
  background-color: #95DAC1;
  border-radius: 5px;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
}
.left-col {
  flex: 1;
  padding: 5px;
  margin-left: auto;
  
}
.right-col {
  flex: 1;
  padding: 5px;
  margin-right: auto;
}
.title {
  font-family: "Cormorant SC", serif;
  text-decoration: 1px underline;
}
.desc {
  text-decoration: underline;
}

/* Addbook */
.Addbookbtn {
  height: 35px;
  width: 110px;
  font-size: 16px;
  background-color: #4CACBC;
  padding: 5px 15px 5px 15px;
  box-shadow: 0px 5px 10px black;
  border: 1px solid black;
  cursor: pointer;
  color: black;
  border-radius: 20px;
  margin: 8px;
  font-family: "Cormorant SC", serif;
  font-weight: bold;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  animation-iteration-count: inherit;
}

@keyframes loginbtn,
Addbookbtn, regbtn, updatedbook {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.loginbtn,
.regbtn, .updatebook {
  height: 35px;
  font-size: 16px;
  margin: 20px;
  background-color:#A0D995 ;
  padding: 5px 15px 5px 15px;
  box-shadow: 0px 5px 10px black;
  border: 1.5px solid black;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 5px;
  color: black;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  animation-iteration-count: inherit;
}
.loginbtn:hover,
.Addbookbtn:hover,
.regbtn:hover,
.updatebook:hover {
  cursor: pointer;
  animation-name: bounce;
  animation-timing-function: ease-in-out;
}

.error {
  font-family: monospace;
  color: #BD2A2A;
  font-weight: bold;
}

